<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="utama">
        <!-- Navigasi -->
        <nav>
            <ul>
                <li><a class="active" href="#">Home</a></li>
                <li><a href="../static/pdf/CV_AnggaAprianoHermawan.pdf">Download CV</a></li>
                <li><a href="kontak.html">Contact</a></li>
            </ul>
        </nav>
        <!-- End Navigasi -->

        <hr>

        <!-- Header -->
        <header align="center">
            <img class="foto" src="../static/images/TLU2.png" width="200px" height="200px">
            <h1>ANGGA APRIANO HERMAWAN</h1>
            <p>(Student at Universitas Dian Nuswantoro | Data Science Enthusiast)</p>
            <p>
                +62895346019861 | anggaapriano555@gmail.com |
                <a
                    href="https://www.linkedin.com/in/angga-aprianohermawan-175333260/">https://www.linkedin.com/in/angga-aprianohermawan-175333260/</a>
                |
                <a href="https://github.com/anggaapriano/">https://github.com/anggaapriano/</a>
            </p>
        </header>
        <!-- End Header -->

        <hr>

        <!-- About -->
        <article align="justify">
            <h2 align="center">Overview</h2>
            <p>I am Angga, a fifth-semester student currently studying for a bachelor's degree in informatics
                engineering at Dian Nuswantoro University, Semarang. I am the Chairman of the Dewan Perwakilan Mahasiswa
                Fakultas Ilmu Komputer's Oversight Commission. <br>
                I have an interest in the Python programming language, and I want to be a professional data scientist in
                the future. <br>
                I have a growth mindset and am eager to learn new things. I am a person with high discipline and
                responsibility who is also flexible. I love to connect with and inspire people out there.</p>
        </article>
        <!-- End About -->

        <br>
        <hr>

        <!-- Education -->
        <div class="education">
            <h2 align="center">Education Level</h2>
            <div class="sekolah">
                <p><b>SMP N 1 Jekulo</b> - Kudus, Indonesia</p>
                <p><b>SMA N 1 Bae</b> - Kudus, Indonesia</p>
            </div>
            <div class="tgl" align="right">
                <p>Jul 2014 - Jun 2017</p>
                <p>Jun 2017 - Jul 2020</p>
            </div>
        </div>
        <!-- End Education -->

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>

        <!-- Organization -->
        <div class="education">
            <h2 align="center">Organization Experience</h2>
            <div class="org">
                <p><b>Dewan Perwakilan Mahasiswa Fakultas Ilmu Komputer</b> - Semarang, Indonesia
                    <br> Chairman of the Oversight Commission</p>
            </div>
            <div class="tgl2" align="right">
                <p>Nov 2020 - Present</p>
            </div>
            <div class="org2">
                <p>DPM FIK is a legislative institution within the scope of the Faculty of Computer Science with a
                    "Student Government" system. through
                    three main functions: legislation, advocacy, and aspiration to become a great student organization.
                </p>
            </div>
        </div>

        <!-- End Organization -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>

        <!-- Table -->
        <div align="center">
            <h2 align="center">Skills, Achievements & Other Experience</h2>
            <table class="table">
                <tr>
                    <th>Skill</th>
                    <th>Pengalaman</th>
                </tr>
                <tr>
                    <td>Python (Advance).</td>
                    <td>Dapat menggunakan Python untuk membuat suatu program.</td>
                </tr>
                <tr>
                    <td>Data Science (Advance)</td>
                    <td>Dapat mengolah data untuk menjadi suatu informasi yang akurat.</td>
                </tr>
                <tr>
                    <td>Computer Vision (Advance)</td>
                    <td>Dapat melakukan image classification dengan akurasi terbaik.</td>
                </tr>
                <tr>
                    <td>NLP (Advance)</td>
                    <td>Dapat melakukan Sentimen Analysis terhadap opini masyarakat.</td>
                </tr>
                <tr>
                    <td>Reinforcement Learning (Beginner)</td>
                    <td>Dapat mencari rute terbaik yang dapat dilakukan oleh mesin.</td>
                </tr>
                <tr>
                    <td>HTML (Intermediate).</td>
                    <td>Pernah membuat Web Blog sendiri.</td>
                </tr>
                <tr>
                    <td>CSS (Beginner).</td>
                    <td>Mampu membuat Web dengan CSS sendiri.</td>
                </tr>
                <tr>
                    <td>Team Work</td>
                    <td>Mampu bekerja sama dalam tim(Organisasi).</td>
                </tr>
            </table>
        </div>
        <!-- End Table -->

        <br>
        <br>

        <!-- Footer -->
        <div class="footer">
            <p class="copy">Copyright @anggaapriano. All rights reserved</p>
        </div>
        <!-- End Footer -->

    </div>

</body>

</html>